<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css"/>
    <title>Lego Collection</title>
</head>
<body>
    <div class="navbar bg-purple-900">
        <div class="flex-1">
            <a href="/" class="text-white hover:text-gray-400">Lego Collection</a>
        </div>
        <div class="navbar-center hidden sm:flex">
            <ul class="menu menu-horizontal px-1">
                <li><a href="/about" class="text-white hover:text-gray-400">About</a></li>
                <li class="w-32">
                    <details class="open:ring-1 ring-gray-300 ring-opacity-50 rounded">
                        <summary class="cursor-pointer text-white hover:text-gray-400">
                            Theme
                        </summary>
                        <ul class="dropdown-content menu p-2 bg-purple-700 right-0">
                            <li>
                                <a href="/lego/sets?theme=Train">Train</a>
                            </li>
                            <li>
                                <a href="/lego/sets?theme=Service Packs">Service Packs</a>
                            </li>
                            <li>
                                <a href="/lego/sets?theme=Video Games and Accessories">Video Games and Accessories</a>
                            </li>
                        </ul>
                    </details>
                </li>
            </ul>
        </div>
    </div>

    <div class="container mt-4 mr-8 mb-8 mx-auto">
        <div class="hero bg-base-200 p-4 rounded">
            <div class="hero-content text-center">
                <div class="max-w-md">
                    <h1 class="mb-5 text-5xl font-bold">Welcome to the Lego Collection</h1>
                    <p class="mb-5">
                        Dive into the world of creativity and imagination with our diverse Lego sets. Start your next adventure here!
                    </p>
                    <a href="/lego/sets" class="btn btn-primary">Explore Sets</a>
                </div>
            </div>
        </div>

        <div class="grid md:grid-cols-3 gap-4 pt-4">
            <!-- Card 1 -->
            <div class="card shadow-lg bg-base-100">
                <img src="https://cdn.rebrickable.com/media/sets/086-1.jpg" alt="Set Image">
                <div class="card-body">
                    <h2 class="font-bold">Tub Boat</h2>
                    <p class="text-sm">Year: 1978</p>
                    <p class="text-sm">
                        The Tub Boat is a simple 3-piece LEGO set from 1978, part of the Boats theme, depicting a colorful little boat.</p>
                    <a href="/lego/sets/086-1" class="btn btn-primary mt-2">View Set</a>
                </div>
            </div>

            <!-- Card 2 -->
            <div class="card shadow-lg bg-base-100">
                <img src="https://cdn.rebrickable.com/media/sets/10000-1.jpg" alt="Set Image">
                <div class="card-body">
                    <h2 class="font-bold">Guarded Inn</h2>
                    <p class="text-sm">Year: 2001</p>
                    <p class="text-sm">
                        The Guarded Inn is a 256-piece LEGO set from the year 2001, themed under LEGO's Castle series, featuring a medieval inn with minifigures.</p>
                    <a href="/lego/sets/10000-1" class="btn btn-primary mt-2">View Set</a>
                </div>
            </div>

            <!-- Card 3 -->
            <div class="card shadow-lg bg-base-100">
                <img src="https://cdn.rebrickable.com/media/sets/088-1.jpg" alt="Set Image">
                <div class="card-body">
                    <h2 class="font-bold">Super Set</h2>
                    <p class="text-sm">Year: 1969</p>
                    <p class="text-sm">Released in 1969, this Super Set showcases a diverse array of LEGO pieces to inspire creativity.</p>
                    <a href="/lego/sets/088-1" class="btn btn-primary mt-2">View Set</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>